.home {
  background-color: #012c47;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .home .dive-container {
    background-color: yellowgreen;
    width: 980px;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .home .dive-container .class {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scuba-class.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .class h1 {
        color: #fff;
        margin-left: 30px;
        margin-top: 30px;
        padding-bottom: 150px; }
    .home .dive-container .gear {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scubaGear.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .gear h1 {
        color: #fff;
        margin-left: 50px;
        margin-top: 30px;
        padding-bottom: 150px; }
    .home .dive-container .tour {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scubaTour.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .tour h1 {
        color: #fff;
        margin-left: 40px;
        margin-top: 30px;
        padding-bottom: 150px; }
  .home .site-button {
    padding: 10px 25px;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    margin-left: 45px;
    border-radius: 20px; }

.about {
  height: 100%;
  width: 100%;
  background-color: #000000; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #fff; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/divingHero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .hero-wrapper .hero .callout {
      margin-top: 75px;
      width: 416px;
      min-height: 200px;
      text-align: center; }
    .hero-wrapper .hero h1 {
      color: white;
      font-size: 60px; }
    .hero-wrapper .hero .desc {
      color: white;
      padding-top: 30px;
      margin-bottom: 50px;
      font-size: 20px;
      font-style: italic; }

nav {
  width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 600px;
    text-transform: lowercase; }
    nav .links a {
      color: white;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      margin: 0 10px;
      color: #012c47;
      font-size: 20px; }
