.home {
  background-color: #fff;
  width: 100%;
  height: 900px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .home .home-text {
    width: 800px;
    margin-bottom: 100px;
    margin-left: 350px;
    margin-top: 30px;
    font-size: 20px; }
  .home .home-content {
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-left: 450px;
    margin-top: -80px;
    margin-bottom: 70px; }
    .home .home-content .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      margin-top: 30px;
      margin-right: 70px;
      border-radius: 20px; }
  .home .dive-container {
    width: 1200px;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 90px; }
    .home .dive-container .class {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scuba-class.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scuba-class.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .class h1 {
        color: #fff;
        margin-left: 30px;
        margin-top: 30px;
        padding-bottom: 150px; }
    .home .dive-container .gear {
      background-color: purple;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scubaGear.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaGear.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .gear h1 {
        color: #fff;
        margin-left: 50px;
        margin-top: 30px;
        padding-bottom: 150px; }
    .home .dive-container .tour {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/scubaTour.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scubaTour.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home .dive-container .tour h1 {
        color: #fff;
        margin-left: 40px;
        margin-top: 30px;
        padding-bottom: 150px; }
  .home .site-button {
    padding: 10px 25px;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    margin-left: 45px;
    border-radius: 20px; }

.about {
  height: 100%;
  width: 100%;
  background-color: #fff; }
  .about .about-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about .about-container h1 {
      font-size: 60px;
      color: #000000;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: 200;
      margin-top: 25px;
      margin-left: -800px;
      text-transform: uppercase;
      border-bottom: 2px solid white; }
    .about .about-container .content {
      width: 1000px;
      height: 600px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .about .about-container .content p {
        font-size: 30px;
        color: #000000;
        font-family: sans-serif;
        font-weight: 400;
        width: 50%;
        text-decoration: none;
        margin-top: 25px;
        margin-left: 25px; }
      .about .about-container .content .shark {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 25px;
        margin-left: 60px;
        width: 50%;
        height: 85%;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/shark.jpg");
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shark.jpg");
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shark.jpg");
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shark.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #fff; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/divingHero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/divingHero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .hero-wrapper .hero .callout {
      margin-top: 75px;
      width: 416px;
      min-height: 200px;
      text-align: center; }
    .hero-wrapper .hero h1 {
      color: white;
      font-size: 60px; }
    .hero-wrapper .hero .desc {
      color: white;
      padding-top: 30px;
      margin-bottom: 50px;
      font-size: 20px;
      font-style: italic; }

nav {
  width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 600px;
    text-transform: lowercase; }
    nav .links a {
      color: white;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      margin: 0 10px;
      color: #012c47;
      font-size: 20px; }

.class-container {
  width: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 400px; }
  .class-container h1 {
    width: 600px;
    font-size: 32px;
    text-align: center;
    margin-top: 20px; }

.text-content p {
  width: 500px;
  margin-left: 450px;
  font-size: 20px;
  text-align: center; }

.class-content {
  width: 1280px;
  height: 500px;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 50px; }
  .class-content h1 {
    margin-left: 50px; }
  .class-content .novice {
    height: 500px;
    width: 400px; }
    .class-content .novice .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      border-radius: 20px; }
    .class-content .novice .one {
      background-color: antiquewhite;
      height: 200px;
      width: 300px;
      margin-left: 50px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/beginner.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/beginner.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/beginner.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/beginner.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .class-content .experienced {
    height: 500px;
    width: 400px; }
    .class-content .experienced .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      border-radius: 20px; }
    .class-content .experienced .two {
      background-color: antiquewhite;
      height: 200px;
      width: 300px;
      margin-left: 50px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/experiened.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/experiened.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/experiened.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/experiened.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .class-content .advanced {
    height: 500px;
    width: 400px; }
    .class-content .advanced .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      border-radius: 20px; }
    .class-content .advanced .three {
      background-color: antiquewhite;
      height: 200px;
      width: 300px;
      margin-left: 50px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/advaced.jpg);
      background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/advaced.jpg);
      background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/advaced.jpg);
      background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/advaced.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

.text-content {
  width: 100%;
  height: 700px;
  font-size: 22px; }
  .text-content .text {
    width: 1280px;
    height: 300px;
    margin-left: 90px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/corals.jpg);
    background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/corals.jpg);
    background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/corals.jpg);
    background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/corals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px; }
  .text-content .site-button {
    padding: 10px 205px;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    margin-left: 450px;
    border-radius: 20px; }

.blog {
  width: 100%;
  height: 100%; }
  .blog .blog-content {
    width: 1280px;
    height: 500px;
    margin-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/blog-hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/blog-hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/blog-hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/blog-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .blog .blog-content h3 {
      margin-top: 30px;
      color: #fff;
      font-size: 22px; }
    .blog .blog-content h1 {
      margin-top: 50px;
      font-size: 30px;
      color: #fff;
      width: 700px;
      text-align: center; }
    .blog .blog-content .site-button {
      padding: 10px 45px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      margin-top: 200px;
      border-radius: 20px; }
  .blog .blog-text {
    margin-top: 30px;
    width: 280px;
    margin-left: 570px;
    font-size: 20px; }
  .blog .blog-container {
    width: 1280px;
    height: 200px;
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 200px; }
    .blog .blog-container p {
      margin-left: 50px; }
    .blog .blog-container .reef {
      height: 500px;
      width: 400px; }
      .blog .blog-container .reef .four {
        background-color: antiquewhite;
        height: 200px;
        width: 300px;
        margin-left: 50px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/blog1.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; }
    .blog .blog-container .sponge {
      height: 500px;
      width: 400px; }
      .blog .blog-container .sponge .five {
        background-color: antiquewhite;
        height: 200px;
        width: 300px;
        margin-left: 50px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/blog2.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog2.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog2.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; }
    .blog .blog-container .sea {
      height: 500px;
      width: 400px; }
      .blog .blog-container .sea .six {
        background-color: antiquewhite;
        height: 200px;
        width: 300px;
        margin-left: 45px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/blog3.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog3.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog3.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; }
  .blog .sites-button {
    padding: 10px 25px;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    margin-left: 650px;
    border-radius: 20px; }

footer {
  background-color: #012c47;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 220px; }
  footer span {
    font-size: 12px;
    font-weight: 200;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff; }
  footer .logo {
    color: #fff; }
  footer .social {
    font-size: 22px;
    width: 140px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }

.tours {
  height: 100%;
  width: 100%;
  background-color: #fff; }
  .tours .tours-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .tours .tours-container .dive-container {
      width: 980px;
      height: 320px;
      margin-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .tours .tours-container .dive-container .learn {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/learn.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/learn.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/learn.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/learn.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .tours .tours-container .dive-container .learn h2 {
          color: #000000;
          margin-left: 50px;
          margin-top: 30px;
          padding-bottom: 150px;
          font-size: 20px; }
      .tours .tours-container .dive-container .turtles {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/turtle.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/turtle.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/turtle.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/turtle.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .tours .tours-container .dive-container .turtles h2 {
          font-size: 20px;
          color: #fff;
          margin-left: 40px;
          margin-top: 30px;
          padding-bottom: 150px; }
      .tours .tours-container .dive-container .reef {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/reef.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/reef.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/reef.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/reef.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .tours .tours-container .dive-container .reef h2 {
          font-size: 20px;
          color: #fff;
          margin-left: 30px;
          margin-top: 30px;
          padding-bottom: 150px; }
    .tours .tours-container .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: #fff;
      margin-left: 45px;
      border-radius: 20px; }
  .tours h1 {
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-left: -750px;
    text-transform: uppercase;
    border-bottom: 2px solid white; }

.equip {
  height: 100%;
  width: 100%;
  background-color: #fff; }
  .equip .gear-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .equip .gear-container .equip-container {
      width: 980px;
      height: 320px;
      margin-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .equip .gear-container .equip-container .snorkel {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/snorkel.JPG);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/snorkel.JPG);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/snorkel.JPG);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/snorkel.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .equip .gear-container .equip-container .snorkel h2 {
          color: white;
          margin-left: 80px;
          margin-top: 30px;
          font-size: 20px; }
        .equip .gear-container .equip-container .snorkel h3 {
          color: white;
          margin-left: 90px;
          padding-bottom: 150px;
          font-size: 15px; }
      .equip .gear-container .equip-container .fins {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/fins.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/fins.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/fins.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/fins.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .equip .gear-container .equip-container .fins h2 {
          color: white;
          margin-left: 105px;
          margin-top: 30px;
          font-size: 20px; }
        .equip .gear-container .equip-container .fins h3 {
          color: white;
          margin-left: 105px;
          padding-bottom: 150px;
          font-size: 15px; }
      .equip .gear-container .equip-container .suit {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/wetsuit.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/wetsuit.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/wetsuit.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/wetsuit.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .equip .gear-container .equip-container .suit h2 {
          color: white;
          margin-left: 75px;
          margin-top: 30px;
          font-size: 20px; }
        .equip .gear-container .equip-container .suit h3 {
          color: white;
          margin-left: 95px;
          padding-bottom: 150px;
          font-size: 15px; }
      .equip .gear-container .equip-container .tank {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), url(../images/tank.jpg);
        background-image: -webkit-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tank.jpg);
        background-image: -o-linear-gradient(left rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tank.jpg);
        background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tank.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .equip .gear-container .equip-container .tank h2 {
          color: white;
          margin-left: 75px;
          margin-top: 30px;
          font-size: 20px; }
        .equip .gear-container .equip-container .tank h3 {
          color: white;
          margin-left: 95px;
          padding-bottom: 150px;
          font-size: 15px; }
    .equip .gear-container .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: white;
      margin-left: 45px;
      border-radius: 20px; }
  .equip h1 {
    font-size: 60px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-left: -750px;
    text-transform: uppercase;
    border-bottom: 2px solid white; }
