.equip {
  height: 100%;
  width: 100%;
  background-color: $site-black;

  .gear-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    //justify-content: space-around;
    flex-direction: column;

    .equip-container {
      background-color: yellowgreen;
      width: 980px;
      height: 320px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .snorkel {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba(black, 0.4),
            rgba(black, 0.4)
          ),
          url(../images/snorkel.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: white;
          margin-left: 80px;
          margin-top: 30px;
          font-size: 20px;
        }
        h3 {
          color: white;
          margin-left: 90px;
          padding-bottom: 150px;
          font-size: 15px;
        }
      }

      .fins {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba(black, 0.4),
            rgba(black, 0.4)
          ),
          url(../images/fins.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: white;
          margin-left: 105px;
          margin-top: 30px;
          font-size: 20px;
        }
        h3 {
          color: white;
          margin-left: 105px;
          padding-bottom: 150px;
          font-size: 15px;
        }
      }

      .suit {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba(black, 0.4),
            rgba(black, 0.4)
          ),
          url(../images/wetsuit.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: white;
          margin-left: 75px;
          margin-top: 30px;
          font-size: 20px;
        }
        h3 {
          color: white;
          margin-left: 95px;
          padding-bottom: 150px;
          font-size: 15px;
        }
      }

      .tank {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba(black, 0.4),
            rgba(black, 0.4)
          ),
          url(../images/tank.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: white;
          margin-left: 75px;
          margin-top: 30px;
          font-size: 20px;
        }
        h3 {
          color: white;
          margin-left: 95px;
          padding-bottom: 150px;
          font-size: 15px;
        }
      }
    }

    .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: white;
      margin-left: 45px;
      border-radius: 20px;
    }
  }

  h1 {
    font-size: 60px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-left: -750px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
  }
}
