.home {
  background-color: $site-blue;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .dive-container {
    background-color: yellowgreen;
    width: 980px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .class {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: linear-gradient(
          to right rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url(../images/scuba-class.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        color: $site-white;
        margin-left: 30px;
        margin-top: 30px;
        padding-bottom: 150px;
      }
    }

    .gear {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: linear-gradient(
          to right rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url(../images/scubaGear.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        color: $site-white;
        margin-left: 50px;
        margin-top: 30px;
        padding-bottom: 150px;
      }
    }

    .tour {
      background-color: slateblue;
      width: 235px;
      height: 302px;
      background-image: linear-gradient(
          to right rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url(../images/scubaTour.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        color: $site-white;
        margin-left: 40px;
        margin-top: 30px;
        padding-bottom: 150px;
      }
    }
  }

  .site-button {
    padding: 10px 25px;
    background-color: orange;
    text-decoration: none;
    color: $site-white;
    margin-left: 45px;
    border-radius: 20px;
  }
}
