nav {
  width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    //background-color: black;
    text-transform: lowercase;
    a {
      color: white;
      font-size: 15px;
      text-decoration: none;
    }

    span {
      margin: 0 10px;
      color: $site-blue;
      font-size: 20px;
    }
  }
}
