.tours {
  height: 100%;
  width: 100%;
  background-color: $site-white;

  .tours-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    //justify-content: space-around;
    flex-direction: column;

    .dive-container {
      //background-color: yellowgreen;
      width: 980px;
      height: 320px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .learn {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba($site-black, 0.4),
            rgba($site-black, 0.4)
          ),
          url(../images/learn.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: $site-black;
          margin-left: 50px;
          margin-top: 30px;
          padding-bottom: 150px;
          font-size: 20px;
        }
      }

      .turtles {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba($site-black, 0.4),
            rgba($site-black, 0.4)
          ),
          url(../images/turtle.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          font-size: 20px;
          color: $site-white;
          margin-left: 40px;
          margin-top: 30px;
          padding-bottom: 150px;
        }
      }

      .reef {
        background-color: slateblue;
        width: 235px;
        height: 302px;
        background-image: linear-gradient(
            to right rgba($site-black, 0.4),
            rgba($site-black, 0.4)
          ),
          url(../images/reef.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          font-size: 20px;
          color: $site-white;
          margin-left: 30px;
          margin-top: 30px;
          padding-bottom: 150px;
        }
      }
    }

    .site-button {
      padding: 10px 25px;
      background-color: orange;
      text-decoration: none;
      color: $site-white;
      margin-left: 45px;
      border-radius: 20px;
    }
  }

  h1 {
    font-size: 60px;
    color: $site-white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-left: -750px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
  }
}
